<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Vertical Form</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-6">
                <div class="card-box">
                    <h4 class="card-title">Basic Form</h4>
                    <form action="#">
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="repeat">Repeat Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-box">
                    <h4 class="card-title">Address Form</h4>
                    <form action="#">
                        <div class="form-group">
                            <label for="address">Address Line 1</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address">Address Line 2</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="postal">Postal Code</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <h4 class="card-title">Two Column Vertical Form</h4>
                    <form action="#">
                        <h4 class="card-title">Personal Information</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">First Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="name">Last Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="blood">Blood Group</label>
                                    <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Country">
                                        <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                        {{data.value}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div class="form-group">
                                    <label for="Gender" class="display-block">Gender:</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="gender_male" value="option1">
                                        <label class="form-check-label" for="gender_male">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="gender_female" value="option2">
                                        <label class="form-check-label" for="gender_female">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Username">Username</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Repeat">Repeat Password</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <h4 class="card-title">Postal Address</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="address">Address Line 1</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address Line 2</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="State">State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="City">City</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Country">Country</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Postal">Postal Code</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="#">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Personal details</h4>
                                <div class="form-group">
                                    <label for="Name">Name:</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password:</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="State">State:</label>
                                    
                                    <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select State">
                                        <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                                        {{data.value}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div class="form-group">
                                    <label for="Your">Your message:</label>
                                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Personal details</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="First">First name:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Last">Last name:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Email">Email:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Phone">Phone:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="address">Address line:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="country">Country:</label>
                                            
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Country">
                                            <mat-option *ngFor="let data of selectedList3" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="State">State/Province:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ZIP">ZIP code:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="City">City:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>